@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-boxs;
}
body {
    width: 100%; 
    height: 100vh;
    margin: 0;
    background: rgba(25,25,25, 1);
    font-family: 'Poppins', sans-serif;
     overflow:hidden;
     a{
         text-decoration: none;
     }
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
    canvas {
        position: absolute;
        top:0%;
         width: 100%; height: 100%; outline: none; 
        }
        nav{
            position:relative;
            z-index: 9999;
            display: grid;
            grid-template-columns:50% 50% ;
            margin-top: 10px;
            .logo{
             
                .mlogo{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background: #22eaaa;
                    margin: 0px 10px;
                }
            }
            ul li{
                padding-top: 10px;
                list-style: none;
                display: inline-block;
                transition: .5s;
                a{
                padding: 8px 20px;
                display: inline-block;
                font-size: 20px;
                color:#22eaaa ;
                transition: .5s;
                }
                &:hover a{
                    color: white;
                }
                &:nth-child(5) a {
                    margin-left: 59px;
                    border: 2px solid #22eaaa;
                    
                }
                &:nth-child(5):hover a{
                    border: 2px solid #fff;
                }
            }
        }
        .wrapper{
          position:relative;
          z-index: 9999;
          width: 50%;
          margin: auto;
          text-align: center;
          color: white;
          margin-top: 80px;
          h1{
              font-size: 80px;
              color: #000;
            -webkit-text-stroke: 2px #fff;
          }
          a{
            padding: 10px 20px;
            color: #000;
            background-color: #fff;
            margin-top: 9px;
            display: inline-block;
            transition: .5s;
            &:hover{
                color: white;
                background: #000;
            }
          }
        }
}



  